# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/compiler.xml
/gradle.xml
/misc.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
build.gradle.kts
deploymentTargetDropDown.xml
migrations.xml