# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/compiler.xml
/gradle.xml
/misc.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions

#순교가 추가한 부분
.name
deploymentTargetDropDown.xml
